# DJANGO SETTINGS
DJANGO_SECRET_KEY=<django-secret-key>
DJANGO_ALLOWED_HOST=<django-allowed-host>
DJANGO_SETTINGS_MODULE=<django-settings-module>

# CLOUDINARY SETTINGS
CLOUDINARY_CLOUD_NAME=<cloudinary-cloud-name>
CLOUDINARY_API_KEY=<cloudinary-api-key>
CLOUDINARY_API_SECRET=<cloudinary-api-secret>

# POSTGRESS SETTINGS
POSTGRES_DB=<postgress-db>
POSTGRES_DB_PORT=<postgress-db-post>
POSTGRES_USER=<postgress-user>
POSTGRES_PASSWORD=<postgress-password>
POSTGRES_HOST=<postgress-host>
