{% load widget_tweaks %}

{% if form.non_field_errors %}
  <div class="alert alert-danger small">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

{% for field in form %}
  {% if field.field.widget.input_type == "checkbox" %}
    <div class="form-check mb-3">
      {{ field }}
      <label class="form-check-label" for="{{ field.id_for_label }}">
        {{ field.label }}
      </label>
      {% if field.errors %}
        <div class="text-danger small">{{ field.errors|striptags }}</div>
      {% endif %}
    </div>
  {% else %}
    <div class="mb-3">
      <label class="form-label" for="{{ field.id_for_label }}">
        {{ field.label }}
      </label>

      {% if field.errors %}
        <div class="is-invalid-wrapper">
          {% render_field field class="form-control is-invalid" %}
        </div>
        <div class="invalid-feedback d-block">
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      </div>
  {% endif %}
{% endfor %}
