{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}CVForge{% endblock %}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block styles %}{% endblock %}

  <script src="https://kit.fontawesome.com/745632e256.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/svg+xml" href="{% static 'images/logo.svg' %}">
</head>
<body class="d-flex flex-column min-vh-100">

<header class="sticky-top bg-white border-bottom shadow-sm">
  <div class="container py-3 d-flex flex-wrap align-items-center justify-content-between">

    <a href="{% url "catalog:home" %}" class="d-flex align-items-center text-dark text-decoration-none h4 fw-semibold mb-0 me-4">
      <img src="{% static "images/logo.svg" %}" alt="CVForge Logo" width="32" height="32" class="me-2"> CVForge
    </a>

    <nav class="d-flex align-items-center">
      <div class="navbar nav me-4">
        <a href="{% url "catalog:home" %}" class="nav-link link-secondary px-2">Home</a>
        <a href="#" class="nav-link link-secondary px-2">Catalog</a>
        <a href="{% url "catalog:about" %}" class="nav-link link-secondary px-2">About</a>
      </div>
      <div class="d-flex align-items-center border-start">
        {% if user.is_authenticated %}
          <a href="#" class="nav-link link-secondary px-3 mx-3">{{ user.username }}</a>
        {% else %}
          <a href="{% url "users:login" %}" class="nav-link link-secondary px-3 mx-3">Login</a>
          <a href="{% url "users:sign-in" %}" class="btn btn-light-blue px-3">Sign-in</a>
        {% endif %}
      </div>
    </nav>
  </div>
</header>

<main class="bg-light-grey">
  <div class="flex-grow-1 my-4">
    {% block content %}
    {% endblock %}
  </div>
</main>

<footer class="bg-dark text-secondary pt-3 pb-2">
  <div class="container text-center">
    <nav class="nav justify-content-center">
      <a href="{% url "catalog:home" %}" class="nav-link link-secondary px-2">Home</a>
      <a href="#" class="nav-link link-secondary px-2">Templates</a>
      <a href="#" class="nav-link link-secondary px-2">About</a>
    </nav>
    <hr class="border-secondary my-3 mx-auto" style="max-width: 1000px;">
    <p class="text-secondary small mb-2">© 2026 CVForge</p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>