{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="container d-flex justify-content-center">
    <div class="card p-4 shadow-sm border-0 w-100" style="max-width: 700px;">
      <h2 class="fw-bold mb-5">Login</h2>
      <div class="d-grid gap-2 mb-4">
        <a class="btn btn-outline-light-blue d-flex align-items-center justify-content-center gap-2">
          <i class="fa-brands fa-google"></i> Continue with Google
        </a>
      </div>

      <div class="d-flex align-items-center text-muted small mb-2">
        <hr class="w-100 my-0">
        <span class="px-3">OR</span>
        <hr class="w-100 my-0">
      </div>

      <form method="post" novalidate>
        {% csrf_token %}
        {% include "includes/form.html" %}

        <div class="d-grid my-4">
          <button type="submit" class="btn btn-light-blue">Login</button>
        </div>
      </form>

      <div class="text-center text-muted small px-2">
        By creating an account, you agree to our
        <a href="#" class="text-muted text-decoration-underline">Terms of Service</a>
        and <a href="#" class="text-muted text-decoration-underline">Privacy Policy</a>.
      </div>

    </div>
  </div>
{% endblock %}